# Practice for Filtering with SQL

Import the germane libraries and connect to the database.

In [ ]:
# Run this code

import pandas as pd
import sqlite3

conn = sqlite3.connect('data.sqlite')
pd.read_sql("""
SELECT *
  FROM employees;
""", conn)

1. Select all of the empployees with first name "Leslie"

In [ ]:
# Fist name Leslie

2. For the employees named Leslie, give the first name, last name, and job title.

In [ ]:
# First name Leslie, with last name and title

3. Select all employees that have a last name less than 5. Using inequalities, do this in two different ways using conditionals.

In [ ]:
# Strictly less than 5

In [ ]:
# Less than or equal to 4.

Now let's turn to the orderDetails database.

In [ ]:
# Run this code

conn = sqlite3.connect('data.sqlite')
pd.read_sql("""
SELECT *
  FROM orderDetails;
""", conn)

4. Round the price as an integer

In [ ]:
# Rounding price

Let's look at the orders database.

In [ ]:
# Run this code

5. Find all orders placed in the year 2005 in the orders database.

In [ ]:
# Just 2005

6. Going back to the employees database, use LIKE to find all of those who have sale or sales in their job title.

In [ ]:
# Using sales with wildcard

7. Now find out how many items are priced at least $200 in the orderDetails database.

In [ ]:
# Count each