# Practice for Filtering with SQL

Import the germane libraries and connect to the database.

In [2]:
# Run this code

import pandas as pd
import sqlite3

conn = sqlite3.connect('data.sqlite')
pd.read_sql("""
SELECT *
  FROM employees;
""", conn)

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,,President
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002,VP Sales
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002,VP Marketing
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056,Sales Manager (APAC)
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056,Sale Manager (EMEA)
5,1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1,1056,Sales Manager (NA)
6,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143,Sales Rep
7,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143,Sales Rep
8,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143,Sales Rep
9,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143,Sales Rep
10,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143,Sales Rep
11,1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,3,1143,Sales Rep
12,1337,Bondur,Loui,x6493,lbondur@classicmodelcars.com,4,1102,Sales Rep
13,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,4,1102,Sales Rep
14,1401,Castillo,Pamela,x2759,pcastillo@classicmodelcars.com,4,1102,Sales Rep
15,1501,Bott,Larry,x2311,lbott@classicmodelcars.com,7,1102,Sales Rep
16,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102,Sales Rep
17,1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088,Sales Rep
18,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088,Sales Rep
19,1619,King,Tom,x103,tking@classicmodelcars.com,6,1088,Sales Rep
20,1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,5,1056,Sales Rep
21,1625,Kato,Yoshimi,x102,ykato@classicmodelcars.com,5,1621,Sales Rep
22,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102,Sales Rep

1. Select all of the employees with first name "Leslie"

In [ ]:
# Fist name Leslie

2. For the employees named Leslie, give the first name, last name, and job title.

In [ ]:
# First name Leslie, with last name and title

3. Select all employees that have a last name less than 5. Using inequalities, do this in two different ways using conditionals.

In [ ]:
# Strictly less than 5

In [ ]:
# Less than or equal to 4.

Now let's turn to the orderDetails database.

In [ ]:
# Run this code

conn = sqlite3.connect('data.sqlite')
pd.read_sql("""
SELECT *
  FROM orderDetails;
""", conn)

4. Round the price as an integer

In [ ]:
# Rounding price

Let's look at the orders database.

In [ ]:
# Run this code

conn = sqlite3.connect('data.sqlite')
pd.read_sql("""
SELECT *
  FROM orders;
""", conn)

5. Find all orders placed in the year 2005 in the orders database.

In [ ]:
# Just 2005

6. Going back to the employees database, use LIKE to find all of those who have sale or sales in their job title.

In [ ]:
# Using sales with wildcard

7. Now find out how many items are priced at least $200 in the orderDetails database.

In [ ]:
# Count each